<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div style="height:60px; background-color: blue;margin:0px; ">
        <a href ="/details"  id="addDetails" style="float: left;margin-top: 15px;margin-left:70px;color: white;font-size: 20px;">
            Home
        </a>
    
    <a href ="/add"  id="addDetails" style="float:left; margin-top: 15px;margin-left:70px;color: white;font-size: 20px;">
        Add Details
    </a>
    </div>

    <div>

        <% members.forEach(function (member) { %>
            <li>  
                Name: <%= member.username %>  
            </li>             
            <li>
                Email: <%= member.email %>
            </li>
            <li>
                Number: <%= member.number %>
            </li>

            <li>
                Id: <%= member._id %>
            </li>
            <form action="/details/<%= member._id %>" method="GET">
                <button id="read">Read</button>
            </form>

            <form action="/edit/<%= member._id %>" method="PUT">
                <button id="edit">Edit</button>
            </form>
            <form action="/delete/<%= member._id %>" method="DELETE">
                <button id="delete">Delete</button>
            </form>
            <!-- <button onclick="location.href = '0.0.0.0:3000/details/:id';" id="read" class="float-left submit-button" >Read</button>   -->
            <!-- <button onclick="location.href = '0.0.0.0:3000/edit/:id';" id="edit" class="float-left submit-button" >Edit</button> -->
            <!-- <button onclick="location.href = '0.0.0.0:3000/delete/:id';" id="delete" class="float-left submit-button" >delete</button> -->
                            
        <% }) %>
    </div>

  
</body>
<script type="text/javascript" src="../details.js"></script>
</html>